USE [master]
GO
/****** Object:  Database [Magazin]    Script Date: 01.06.2026 19:14:00 ******/
CREATE DATABASE [Magazin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Magazin.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Magazin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazin]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[Category] [nvarchar](255) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [float] NULL,
 CONSTRAINT [PK_OrderProducts] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[OrderDate] [float] NULL,
	[DeliveryDate] [float] NULL,
	[PickPointID] [int] NULL,
	[UserID] [int] NULL,
	[CodeReceive] [float] NULL,
	[StatusID] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickPoints]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickPoints](
	[PickPointID] [int] NOT NULL,
	[PickPoint] [nvarchar](255) NULL,
 CONSTRAINT [PK_PickPoints] PRIMARY KEY CLUSTERED 
(
	[PickPointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[ProducerID] [int] NOT NULL,
	[Producer] [nvarchar](255) NULL,
 CONSTRAINT [PK_Producers] PRIMARY KEY CLUSTERED 
(
	[ProducerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[Article] [nvarchar](255) NULL,
	[ProductTypeID] [int] NULL,
	[UnitID] [int] NULL,
	[Price] [float] NULL,
	[SupplierID] [int] NULL,
	[ProducerID] [int] NULL,
	[CategoryID] [int] NULL,
	[Discount] [float] NULL,
	[QuantityInStock] [float] NULL,
	[Discription] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeID] [int] NOT NULL,
	[ProductType] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[Role] [nvarchar](255) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusID] [int] NOT NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] NOT NULL,
	[Supplier] [nvarchar](255) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] NOT NULL,
	[Unit] [nvarchar](255) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.06.2026 19:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NULL,
	[FullName] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryID], [Category]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Categories] ([CategoryID], [Category]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[OrderProducts] ([OrderID], [ProductID], [Quantity]) VALUES (1, 1, 2)
INSERT [dbo].[OrderProducts] ([OrderID], [ProductID], [Quantity]) VALUES (1, 2, 2)
INSERT [dbo].[OrderProducts] ([OrderID], [ProductID], [Quantity]) VALUES (2, 3, 1)
GO
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [DeliveryDate], [PickPointID], [UserID], [CodeReceive], [StatusID]) VALUES (1, 45715, 45767, 1, 4, 901, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [DeliveryDate], [PickPointID], [UserID], [CodeReceive], [StatusID]) VALUES (2, 44832, 45768, 11, 1, 902, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [DeliveryDate], [PickPointID], [UserID], [CodeReceive], [StatusID]) VALUES (3, 45737, 45769, 2, 2, 903, 1)
GO
INSERT [dbo].[PickPoints] ([PickPointID], [PickPoint]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PickPoints] ([PickPointID], [PickPoint]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PickPoints] ([PickPointID], [PickPoint]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[Producers] ([ProducerID], [Producer]) VALUES (1, N'Kari')
INSERT [dbo].[Producers] ([ProducerID], [Producer]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Producers] ([ProducerID], [Producer]) VALUES (3, N'Рос')
GO
INSERT [dbo].[Products] ([ProductID], [Article], [ProductTypeID], [UnitID], [Price], [SupplierID], [ProducerID], [CategoryID], [Discount], [QuantityInStock], [Discription], [Photo]) VALUES (1, N'А112Т4', 1, 1, 4990, 1, 1, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Products] ([ProductID], [Article], [ProductTypeID], [UnitID], [Price], [SupplierID], [ProducerID], [CategoryID], [Discount], [QuantityInStock], [Discription], [Photo]) VALUES (2, N'F635R4', 1, 1, 3244, 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Products] ([ProductID], [Article], [ProductTypeID], [UnitID], [Price], [SupplierID], [ProducerID], [CategoryID], [Discount], [QuantityInStock], [Discription], [Photo]) VALUES (3, N'H782T5', 2, 1, 4499, 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
GO
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductType]) VALUES (1, N'Ботинки')
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductType]) VALUES (2, N'Туфли')
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductType]) VALUES (3, N'Кроссовки')
GO
INSERT [dbo].[Roles] ([RoleID], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [Role]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleID], [Role]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[Statuses] ([StatusID], [Status]) VALUES (1, N'Завершен')
INSERT [dbo].[Statuses] ([StatusID], [Status]) VALUES (2, N'Новый ')
GO
INSERT [dbo].[Suppliers] ([SupplierID], [Supplier]) VALUES (1, N'Kari')
INSERT [dbo].[Suppliers] ([SupplierID], [Supplier]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Units] ([UnitID], [Unit]) VALUES (1, N'шт.')
GO
INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Orders]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PickPoints] FOREIGN KEY([PickPointID])
REFERENCES [dbo].[PickPoints] ([PickPointID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PickPoints]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Producers] FOREIGN KEY([ProducerID])
REFERENCES [dbo].[Producers] ([ProducerID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Producers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductTypes] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypes] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductTypes]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Units] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([UnitID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Units]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
